{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-5 px-5">

  <br>
  <br>
  <br>
  <br>

  <h3>Crear usuario</h3>

  <br>

  <form method="POST">
    Email: <input type="email" name="email">
    <br>
    <br>
    Contraseña: <input type="password" name="pass">
    <br>
    <br>
    Confirmar contraseña: <input type="password" name="pass2">
    <br>
    <br>
    <input type="submit">
  </form>

  <br>
  <br>
  <br>
  <br>

</div>



{% endblock %}