/* Basado en el codigo de https://www.w3schools.com/howto/howto_css_timeline.asp */

* {
    box-sizing: border-box;
  }

/* Línea vertical */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* contenedor de cada evento */
.container2 {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.left {
    left: 0;
}
    
.right {
    left: 50%;
}

/* circulitos */
.container2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6px;
    background-color: rgba(46, 213, 115,1);
    top: 22px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(46, 213, 115,0.3);
    z-index: 1;
}

/* flechitas */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #a4b0be;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #a4b0be;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #a4b0be;
    border-width: 10px 10px 10px 0;
    border-color: transparent #a4b0be transparent transparent;
}

/* circulito para los contenedores derechos */
.right::after {
    left: -10px;
}

/* contenido de cada evento */
.contenido {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

/* para que se adapte a pantallas pequeñas */
@media screen and (max-width: 600px) {
    .titulito{
        font-size: 20px;
    }

    .timeline::after {
        left: 31px;
    }

    .container2 {
        width: 100%;
        padding-left: 30px;
        padding-right: 15px;
    }

    .container2::before {
        left: 20px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }

    .left::after, .right::after {
        left: -27px;
    }

    .right {
        left: 0%;
    }
}