@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    /* efecto de sombra bajo el navbar*/
    box-shadow: 0px 2px 5px #000; 
    opacity: .9;
    padding: .8rem;
    
}

.navbar .nav-item .nav-link {
    color: #000;
    font-size: 1.1em !important;
}

.column-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-shadows {
    text-shadow: 2px 2px 5px #000;
}

.main-header {
    background: url(/static/img/pagina_principal/encabezado.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.auxiliar-header {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}

.auxiliar-background-overlay {
    position: absolute;
    background: rgba(30, 39, 46, .3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-background-overlay {
    position: relative;
    background: rgba(30, 39, 46, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centrito {
    height: 500px;
}

footer {
    background-color: rgba(186, 220, 88, 1);
}

.features {
    background: url(/static/img/pagina_principal/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100px;

}

.fixed-background-pad {
    padding: 10px 0px;
}

hr.light {
    border-top: 1px solid #fff;
    width:75%;
}

hr.light2 {
    border-top: 1px solid #bdc3c7;
    width:50%;
}

.jumbotron {
    margin-bottom: 0px;
}

.social a {
    font-size: 1.5em;
    padding: 0.5rem;
}

.fa-facebook {
    color: #b2bec3;
}

.fa-instagram {
    color: #b2bec3;
}

.fa-youtube {
    color: #b2bec3;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #dfe6e9;
}

.card-columns {
    justify-items: center;
    padding: 1rem;
 }
 
 @media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 700px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}