{% extends "base.html" %}

{% block title %}
Atractivos | Turismo en Osa
{% endblock %}

{% block content %}


<!-- LISTA COMPLETA -->

<h1 class="px-5 py-5 text-center" style="font-size:4vw;">Atractivos de la Península de Osa</h1>

<hr>

<div class="container-fluid px-5">

    <div class="row">
        <div class="col-md-2" style="height: fit-content;">
            <div class="border jumbotron px-1 py-4">
                <p class="text-center">¿Buscas algo en específico?</p>
                <p class="font-weight-bold">Tipo de atractivo</p>
                {% for item in tipos %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="miCheckbox" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
                <hr>
                <p class="font-weight-bold">Región</p>
                {% for item in regiones %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="miCheckbox" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-10 px-5">

            <div class="container-fluid px-5">

                {% for item in lista %}
                    {% if loop.index % 2 == 0 %}
                        {% set uno = "order-2"%}
                        {% set dos = "order-1"%}
                    {% endif %}
                    {% if loop.index %2 != 0 %}
                        {% set uno = "order-1"%}
                        {% set dos = "order-2"%}
                    {% endif %}

                    <div class="row" id="{{ item.nombre }}">
                        <div class="col-md-6 align-self-center py-5 {{uno}} justify-content-center text-center">
                            <img src= "{{item.imagen}}" alt="Imagen del atractivo" style="width:90%">
                        </div>
                        <div class="col-md-6 align-self-center {{dos}} justify-content-center">
                            <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
                            <p class="text-justify">{{ item.descripcion }}</p>
                            {% if item.regiones %}
                                <p class="font-weight-bold">Regiones:</p>
                                <div class="row">
                                    {% for region in item.regiones %}
                                        
                                            <div class="col-md-4 justify-content-center text-center">
                                                <a href="/{{region.nombre}}"> <p> {{region.nombre}} </p> </a>
                                            </div>  
                                        
                                    {% endfor %}
                                </div>
                                <p class="font-weight-bold">Los emprendimientos en los que se puede encontrar este atractivo son:</p>
                                <div class="row">
                                    {% for item in item.emprendimientos %}
                                        {% if loop.index < 5 %}
                                            <div class="col-md-4 justify-content-center text-center">
                                                <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% if item.tipo %}
                                    <p style="display: inline;" class="font-weight-bold">Tipo de atractivo: </p> <p style="display: inline;">{{ item.tipo.nombre }} </p>
                                {% endif %}
                                
                            {% endif %}                                                        
                        </div>
                        <hr class="dark">                        
                    </div>
                    
                    <hr>
                
                {% endfor %}  
            </div>
        </div>
    </div>
</div>


<script>
    var checkboxSeleccionados = [];
    var index;

    checkboxes = document.getElementsByClassName("miCheckbox");
    
    for (let i=0; i<checkboxes.length; i++){
        checkboxes[i].addEventListener("click", (event) => {
            if(checkboxes[i].name == "checkboxAtractivos"){
                if (checkboxSeleccionados.includes(checkboxes[i].value) == false) {
                    checkboxSeleccionados.push(checkboxes[i].value);
                }
                else{
                    index = checkboxSeleccionados.indexOf(checkboxes[i].value);
                    if (index > -1) {
                        checkboxSeleccionados.splice(index, 1);
                    }
                }
            }        

            var atractivosYCosas = {{ atractivosYCosas | safe }};

            for (let j=0; j<atractivosYCosas.length; j++){
                var elemento = document.getElementById(atractivosYCosas[j][0])
                elemento.style.display = "none";
                for (let i=0; i< checkboxSeleccionados.length; i++){
                    if(atractivosYCosas[j][1].includes(checkboxSeleccionados[i])){
                        console.log(atractivosYCosas[j][1]);
                        elemento.style.display = "";
                    }
                }
            }

            if (checkboxSeleccionados.length==0){
                for (let j=0; j<atractivosYCosas.length; j++){
                    var elemento = document.getElementById(atractivosYCosas[j][0]);
                        elemento.style.display = "";
                }
            }
            
        })
      
    }

</script>


{% endblock %}