{% extends "base.html" %}

{% block title %}
{{ item.nombre }} | Turismo en Osa
{% endblock %}

{% block content %}

{% if tipo == "emprendimiento" %}
    {% set path = item.imagen %}
{% endif %}

{% if tipo == "atractivo" %}
    {% set path = item.imagen %}
{% endif %}

{% if tipo == "region" %}
    {% set path = item.imagen %}
{% endif %}

<!-- HEADER -->

<header class="auxiliar-header" style="background: url('{{path}}'); background-size: cover;">
    <div class="auxiliar-background-overlay text-white py-4">
        <div class="container column-header text-center justify-content-center">
            <div class="row">
                <div class="col-md-12 text-center justify-content-center container-fluid">
                    <h1 class="text-shadows" style="font-size:7vw;"> {{ item.nombre }} </h1>
                    {% if item.sitioWeb %}
                        <a href="{{item.sitioWeb}}" class="btn btn-outline-dark bg-light btn-md" target="_blank">Sitio web</a>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-5">

    <div class="container-fluid px-5">

        <hr>
    
        <p> {{item.descripcion}} </p>
    
        {% if tipo == "emprendimiento" %}
    
            {% if item.atractivos %}
            <p class="font-weight-bold">Los atractivos que se encuentran en este emprendimiento son:</p>
            <div class="container-fluid">
                <div class="row">
                    {% for item in item.atractivos %}
                        <div class="col-sm-3 justify-content-center text-center">
                            <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if item.region %}
                    <p style="display: inline;" class="font-weight-bold">Región:</p> <a href="/{{item.region}}"> <p style="display: inline;"> {{ item.region}} </p> </a>
            {% endif %}
            <!-- <br>
            {% if item.sitioWeb %}
                <p style="display:inline" class="font-bold">Sitio web: </p>  <a href="{{item.sitioWeb}}"> <p style="display:inline">{{item.sitioWeb}}</p> </a> 
            {% endif %} -->
    
            <hr>            

        {% endif %}
    
    
        {% if tipo == "atractivo" %}
    
        <p class="font-weight-bold"> Regiones en las que se encuentra: </p> 

        <div class="container-fluid">
            <div class="row">
                {% for region in item.regiones %}
                    <div class="col-sm-3 justify-content-center text-center">
                        <a href="/{{region.nombre}}"> <p> {{ region.nombre }} </p> </a>
                    </div>
                {% endfor %}
            </div>
        </div>

            {% if item.emprendimientos %}
                <p class="font-weight-bold">Los emprendimientos en los que se puede encontrar este atractivo son:</p>
                <div class="container-fluid">
                    <div class="row">
                        {% for item in item.emprendimientos %}
                            <div class="col-sm-3 justify-content-center text-center">
                                <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if item.tipo %}
                <p style="display: inline;" class="font-weight-bold">Tipo de atractivo: </p> <p style="display: inline;">{{ item.tipo.nombre }} </p>
            {% endif %}
    
            <br>
            <br>

            <hr>

        {% endif %}    

    
        {% if tipo == "region" %}
            
            {% if item.emprendimientos %}
                <p class="font-weight-bold">Los emprendimientos que se encuentran en esta región son:</p>
                <div class="container-fluid">
                    <div class="row">
                        {% for item in item.emprendimientos %}
                            <div class="col-sm-3 justify-content-center text-center">
                                <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <p class="font-weight-bold">Los atractivos que se encuentran en esta región son:</p>
                <div class="container-fluid">
                    <div class="row">
                        {% for atractivo in item.atractivos %}
                                <div class="col-sm-3 justify-content-center text-center">
                                    <a href="/{{atractivo.nombre}}"> <p> {{ atractivo.nombre }} </p> </a>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                
            {% endif %}
    
        {% endif %}
    
    </div>

    {% if imagenes %}
        <h1 class="text-center my-4">Galería</h1>
        <div class="card-columns">
            {% for imagen in imagenes %}
                
                    {% set ident1 = "#id" + loop.index|string %}
                    {% set ident2 = "id" + loop.index|string %}

                    <div class="card">
                        <a href="#" data-toggle="modal" data-target="{{ident1}}">
                            <img src="{{imagen}}" alt="" class="card-img-top" style="height: 300px;">
                        </a>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ident2}}" tabindex="-1" role="dialog" aria-labelledby="exhjjhlLabel" aria-hidden="true">
                        
                        <button type="button" class="close mr-2 mt-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" role="document">
                            <img src="{{imagen}}" alt="" class="img-fluid rounded">
                        </div>

                    </div>

            {% endfor %}
        </div>
        <hr>
    {% endif %}
</div>

{% endblock %}