<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- icono para las pestañas -->
    <link rel="icon" href="https://image.flaticon.com/icons/svg/877/877627.svg">

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Más CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- FUENTES PARA LAS REDES SOCIALES -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    {% block masLinks %}
    {% endblock %}

</head>
<body>
    
    <!-- Nav bar -->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top py-1">
    <div class="container-fluid"> 
            <div class="navbar-brand">
                <a href="https://www.ucr.ac.cr/" target="_blank"><img src="/static/img/ucr.png" alt="Logo UCR" style="width: 18%;"></a> 
                <a href="https://piosa.ucr.ac.cr/" target="_blank"><img src="/static/img/piosa.png" alt="PiOsa" style="width: 13%;"></a>
                <a href="https://www.facebook.com/Tropicalizacion" target="_blank"><img src="/static/img/tropicalizacion.png" alt="Logo Tropicalizaciónd de la tecnología" style="width: 18%;"></a> 
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active">
                        <a class="nav-link" href="/">{{texts[0].Inicio}}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emprendimientos/">{{texts[0].Emprendimientos}}</a>
                    </li> 
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Atractivos
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/atractivos/">Todos</a>
                          <a class="dropdown-item" href="/eventos/">Eventos</a>
                        </div>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/atractivos/">{{texts[0].Atractivos}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventos/">{{texts[0].eventos}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regiones/">{{texts[0].Regiones}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa/">{{texts[0].mapa}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="/acerca-de/">{{texts[0].AcercaDe}}</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% if footer[0] %}

<!-- FOOTER -->

<footer class="bg-dark text-white my-0">
    <div class="container-fluid py-3">
        <div class="row text-center">
            {% for item in footer %}
                <div class="col-md-4">
                    <h6> {{ item.titulo if item.titulo }}  </h6>
                    <hr class="light">
                    <div class="social">
                        {% if item.facebook %}
                        <a href={{ item.facebook }} target="_blank"><i class="fab fa-facebook"></i></a>
                        {% endif %}
                        {% if item.instagram %}
                        <a href={{ item.instagram }} target="_blank"><i class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if item.youtube %}
                        <a href={{ item.youtube }} target="_blank"><i class="fab fa-youtube"></i></a>
                        {% endif %}
                    </div>
                    {% if item.sitio_web %}
                    <p><a href="{{ item.sitio_web }}">Sitio web</a></p>
                    {% endif %}
                    <p> {{ item.email if item.email}} </p>
                    <p> {{ item.tel if item.tel }} </p>
                </div>
            {% endfor %}
        </div>
        <div class="div text-center py-3 px-3">
            <a class="text-center" style="color: lightblue;" href="/creditos" >Autor y créditos</a>
        </div>
        
    </div>
</footer>
{% endif %}

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    {% block masScripts %}
    {% endblock %}

</body>
</html>