{% extends "base.html" %}

{% block title %}
Emprendimientos | Turismo en Osa
{% endblock %}

{% block content %}
<h1 class="px-5 py-5 text-center" style="font-size:4vw;">Emprendimientos de la Península de Osa</h1>

<hr>

<div class="container-fluid px-5">

    <div class="row">
        <div class="col-md-2" style="height: fit-content;">
            <div class="border jumbotron px-1 py-4">
                <p class="text-center">¿Buscas algo en específico?</p>
                <p class="font-weight-bold">Atractivos</p>
                {% for item in tipos %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="miCheckbox" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
                <hr>
                <p class="font-weight-bold">Servicios</p>
                {% for item in servicios %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="miCheckbox" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
                <hr>
                <p class="font-weight-bold">Región</p>
                {% for item in regiones %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="miCheckbox" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
            </div>
            <hr>
            <div>
                <p class="text-center">{{textoEmprendedor}}</p> 
                <div class="col text-center">
                    <a href="mailto:piosa@ucr.ac.cr" class="btn btn-sm btn-outline-secondary">Contáctanos</a>
                </div>    
            </div>
        </div>

        <div class="col-md-10 px-5">
                
        <!-- LISTA COMPLETA -->

        <div class="container-fluid px-2">
            
            <!-- <p id="infofiltro">Emprendimientos que incluyen: </p> -->

            {% for item in lista %}
            
                {% if loop.index % 2 == 0 %}
                    {% set uno = "order-2"%}
                    {% set dos = "order-1"%}
                {% endif %}
                {% if loop.index %2 != 0 %}
                    {% set uno = "order-1"%}
                    {% set dos = "order-2"%}
                {% endif %}

                <div class="row" id="{{ item.nombre }}">
                    <div class="col-md-6 align-self-center py-5 {{uno}} text-center">
                        <img src= "{{item.imagen}}" alt="Imagen del emprendimiento" style="width:90%">
                    </div>
                    <div class="col-md-6 align-self-center {{dos}} justify-content-center">
                        <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
                        <p class="text-justify">{{ item.descripcion }}</p>
                        {% if item.atractivos %}
                            <p class="font-weight-bold text-justify">Algunos de los atractivos que se pueden encontrar en este emprendimiento son:</p>
                            <div class="row">
                                {% for item in item.atractivos %}
                                {% if loop.index < 7 %}
                                    <div class="col-md-4 justify-content-center text-center">
                                        <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if item.region %}
                            <p class="font-weight-bold" style="display:inline;">Región:</p>
                            <a href="/{{item.region}}"> <p  style="display:inline;"> {{ item.region}} </p> </a>
                        {% endif %}
                        <hr class="dark">
                    </div>
                </div>
                
            
            {% endfor %}  
            
            </div>

        </div>
    </div>
</div>

<hr>

<script>
    var checkboxSeleccionados = [];
    var servicios = [];
    var index;

    checkboxes = document.getElementsByClassName("miCheckbox");
    
    for (let i=0; i<checkboxes.length; i++){
        checkboxes[i].addEventListener("click", (event) => {
            if(checkboxes[i].name == "checkboxAtractivos"){
                if (checkboxSeleccionados.includes(checkboxes[i].value) == false) {
                    checkboxSeleccionados.push(checkboxes[i].value);
                }
                else{
                    index = checkboxSeleccionados.indexOf(checkboxes[i].value);
                    if (index > -1) {
                        checkboxSeleccionados.splice(index, 1);
                    }
                }
            }        

            var emprendimientosYAtractivos = {{ emprendimientosYAtractivos | safe }};

            for (let j=0; j<emprendimientosYAtractivos.length; j++){
                var elemento = document.getElementById(emprendimientosYAtractivos[j][0])
                elemento.style.display = "none";
                for (let i=0; i< checkboxSeleccionados.length; i++){
                    if(emprendimientosYAtractivos[j][1].includes(checkboxSeleccionados[i])){
                        elemento.style.display = "";
                    }
                }
            }

            if (checkboxSeleccionados.length==0){
                for (let j=0; j<emprendimientosYAtractivos.length; j++){
                    var elemento = document.getElementById(emprendimientosYAtractivos[j][0]);
                        elemento.style.display = "";
                }
            }
            
        })
      
    }

</script>

{% endblock %}