{% extends "base.html" %}

{% block title %} Error | Turismo en Osa {% endblock %}

{% block content %}

<p class="px-5 py-5" > Lo sentimos, la página que busca no existe. </p>

<div class="container text-center px-5 py-5">
    <img src="{{ imagen }}" alt="Imagen de error">
</div>


{% endblock %}