<!-- Basado en el codigo de https://www.w3schools.com/howto/howto_css_timeline.asp  -->

{% extends "base.html" %}

{% block title %} Eventos | Turismo en Osa {% endblock %}

{% block masLinks %}
<link rel="stylesheet" href="/static/css/eventos.css">
{% endblock %}

{% block content %}

<div class="container-fluid py-5">

    <div class="row">
        <div class="col-md-2" style="height: fit-content;">
            <div class="border jumbotron px-1 py-4">
                <p class="text-center">¿Buscas algo en específico?</p>
                <p class="font-weight-bold">Tipos de evento</p>
                {% for item in tipos %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="checkboxito" type="checkbox" unchecked value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
                <hr>
                <p class="font-weight-bold">Región</p>
                {% for item in regiones %}
                    {% set valor = item.nombre.replace(" ", "-") %}
                    <input class="checkboxito" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                {% endfor %}
            </div>

        </div>

        <div class="col-md-10">
            <h1 class="text-center" style="font-size:4vw;">Eventos en la Penísula de Osa</h1>

            <br>

            <div class="timeline py-5 px-5">
            
                {% for item in eventos %}
            
                    {% if loop.index % 2 == 0%}
                        {% set lado="right" %}
                        {% set ladoT="text-left" %}
                    {% endif %}
                    {% if loop.index % 2 != 0%}
                        {% set lado="left" %}
                        {% set ladoT="text-right" %}
                    {% endif %}
            
                    <div class="container2 {{lado}}" id="{{item.nombre}}">
                        <div class="contenido" style="background-image: url('{{ item.imagen }}'); box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);">
                            
                            {% if item.inicio %}
                                {% set fechaInicio = item.inicio|string %}
                                {% set fechaInicio = fechaInicio.split("-") %}
                                {% set meses = ["enero", "febrero","marzo","abril","mayo","junio","julio","agosto", "setiembre","octubre","noviembre","diciembre"] %}
                                {% set mes = meses[fechaInicio[1]|int - 1]|string %}
                                {% set dia =  fechaInicio[2] %}
                                {% set fechaInicio = dia + " de " + mes %}
                                <h5  class="text-white text-shadows {{ladoT}}">{{fechaInicio}}</h5>
                            {% endif %}

                            <a href="/{{item.nombre}}/"> <h1 class="text-primary text-shadows {{ladoT}} titulito">{{item.nombre}}</h1> </a>
                            <p class="text-white text-shadows text-justify">{{item.descripcion}}</p>
                            {% if item.tipo %}
                                <p class="text-white text-shadows {{ladoT}}">Tipo: {{item.tipo}}</p>
                            {% endif %}

                            {% if item.regiones %}
                                <p class="text-white text-shadows" style="display: inline;">Regiones:</p>
                                {% for region in item.regiones %}
                                    <a href="/{{region}}"><p class="text-primary text-shadows {{ladoT}}" style="display: inline;"> - {{region}} </p></a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>

<script>
    var seleccionados = [];
    var region, index;

    checkboxes = document.getElementsByClassName("checkboxito");
    for (let i=0; i<checkboxes.length; i++){
        checkboxes[i].addEventListener("click", (event) => {
            if(checkboxes[i].name == "checkboxAtractivos"){
                if (seleccionados.includes(checkboxes[i].value) == false) {
                    seleccionados.push(checkboxes[i].value);
                }
                else{
                    index = seleccionados.indexOf(checkboxes[i].value);
                    if (index > -1) {
                        seleccionados.splice(index, 1);
                    }
                }
                console.log(seleccionados);
            }

            var eventosYCosas = {{ eventosYCosas | safe }};

            console.log(eventosYCosas);

            for (let j=0; j<eventosYCosas.length; j++){
                var coso = document.getElementById(eventosYCosas[j][0])
                coso.style.display = "none";
                for (let i=0; i< seleccionados.length; i++){
                    if(eventosYCosas[j][1].includes(seleccionados[i])){
                        console.log(eventosYCosas[j][1]);
                        coso.style.display = "";
                    }
                }
            }
            if (seleccionados.length==0){
                for (let j=0; j<eventosYCosas.length; j++){
                    var coso = document.getElementById(eventosYCosas[j][0]);
                        coso.style.display = "";
                }
            }  
        })
    }

</script>

{% endblock %}