{% extends "base.html" %}

{% block title %}
Página principal | Turismo en Osa
{% endblock %}

{% block content %}
<!-- HEADER -->

<header class="main-header">
    <div class="auxiliar-background-overlay text-white py-5">
        <div class="container column-header text-center justify-content-center">
            <div class="row">
                <div class="col-md-12 text-center justify-content-center">
                    <h2 class="text-shadows" style="font-size:8vw;"> {{ texts[0].TituloEncabezado if texts[0].TituloEncabezado }} </h2>
                    <br>
                    <br>
                    <h3 class="text-shadows"> {{ texts[0].SubTituloEncabezado if texts[0].SubTituloEncabezado }} </h3>
                    <br>
                </div>
        </div>
    </div>
</header>

<!-- JUMBOTRON -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead text-justify"> {{ texts[0].TextoSubEncabezado if texts[0].TextoSubEncabezado }} </p>
    </div>
</div>


<!-- EMPRENDIMIENTOS  -->

{% if emprendimientos[0] %}

<!-- FIXED BACKGROUND -->

<section class="features">
    <div class="container fixed-background-pad">
    </div>
</section>

<section class="py-3 mx-3"  id="emprendimientos">

    <div class="container-fluid">
        <h2 class="text-center" style="font-size:4vw;">{{ texts[0].Emprendimientos if texts[0].Emprendimientos }}</h2>
        <div class="col text-center">
            <a href="/emprendimientos/" class="btn btn-outline-secondary">Ver todos</a>
        </div>

        <hr>

        <div class="row"> 
        {% for item in emprendimientos %}
            {% if loop.index < 4 %}

                <div class="col-md-4 justify-content-center text-center">
                    <img src= "{{item.imagen}}" alt="Imagen del emprendimiento" style="width:80%">
                    <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
                </div>
            
            <hr>

            {% endif %}

        {% endfor %}  
        
        </div>

        <hr>
        <p style="display: inline;">¿Eres un emprendedor de Osa y tu negocio no aparece en esta página?</p  style="display: inline;" class="text-center"> <a href="mailto:piosa@ucr.ac.cr" class="btn btn-sm btn-outline-secondary">Contáctanos</a>
    </div>
</section>

{% endif %}


<!-- ATRACTIVOS -->

{% if atractions[0] %}

<!-- FIXED BACKGROUND -->

<section class="features">
    <div class="container fixed-background-pad">
    </div>
</section>

<section class="py-3" id="atractivos">

    <div class="container-fluid">
        <h2 class="text-center" style="font-size:4vw;">{{ texts[0].Atractivos if texts[0].Atractivos }}</h2>

        <div class="col text-center">
            <a href="/atractivos/" class="btn btn-outline-secondary">Ver todos</a>
        </div>

        <hr>
        
        <div class="row">
            {% for item in atractions %}

                {% if loop.index < 4 %}
                
                    <div class="col-md-4 justify-content-center text-center">
                        <img src= "{{item.imagen}}" alt="Imagen del atractivo" style="width:80%">
                        <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
                    </div>
                
                    <hr>

                {% endif %}

            {% endfor %}  
        </div>    
    </div>
</section>

{% endif %}


{% if regiones[0] %}

<!-- FIXED BACKGROUND -->

<section class="features">
    <div class="container fixed-background-pad">
    </div>
</section>

<!-- REGIONES -->

<section class="py-3" id="regiones">
    <div class="container-fluid">
        <h2 class="text-center" style="font-size:4vw;">{{ texts[0].Regiones }}</h2>
        <div class="col text-center">
            <a href="/regiones/" class="btn btn-outline-secondary">Ver todas</a>
        </div>

        <hr>

        <div class="row">
        {% for item in regiones %}

        {% if loop.index < 4 %}
            
            <div class="col-md-4 justify-content-center text-center">
                <img src= "{{item.imagen}}" alt="Imagen de la region" style="width:80%">
                <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
            </div>
    
        <hr>

        {% endif %}

        {% endfor %}
    </div>
    </div>
</section>

{% endif %}

<!-- FIXED BACKGROUND -->

<section class="features">
    <div class="container fixed-background-pad">
    </div>
</section>

<!-- MAPA -->

<section class="py-3">

    <h2 class="text-center" style="font-size:4vw;">Osa en el mapa</h2>

    <div class="container padding">
        <div class="row">
            <div class="col-md-9">
                Emprendimientos <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"> Atractivos <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="/mapa/" role="button">Mapa interactivo</a>
            </div>
        </div>
    </div>
    <hr>
    
    <div id="map" style="height:500px; width:100%;" class="align-content-center"></div>

<hr>

</section>

{% endblock %}


{% block masScripts %}

<script> 
function iniciarMap(){
    var centro = {lat:8.5483277, lng: -83.6442931};
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 9,
      center: centro
    });

    var data = {{ data|safe }};

    var marker, i;

    for (i=0; i<data.length; i++){
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(data[i][1], data[i][2]),
        map: map
        })
        marker.setLabel(data[i][0]);
        switch (data[i][3]){
            case 'Emprendimientos':
                color = "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                break;

            case 'Atractivos':
            color = "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                break;

        }
        marker.setIcon(color)
    }  

}
</script>
 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script> -->
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzRacH2Q-qclQuZaka0SewmsUsHf1Cnrs&callback=iniciarMap">
</script>
      

{% endblock %}

