{% extends "base.html" %}

{% block title %} {{ titulo }}| Turismo en Osa {% endblock %}

{% block content %}

<h1 class="px-5 py-5 text-center" style="font-size:4vw;"> {{ titulo }} </h1>

<div class="container-fluid px-5 padding">

    <div class="container-fluid px-5">

        <hr>
        
        <p class="text-justify">{{ textoHTML|safe }}</p>
        
        <hr>

    </div>

</div>

{% endblock %}