{% extends "base.html" %}

{% block title %}
Mapa interactivo | Turismo en Osa
{% endblock %}

{% block content %}

<div class="container-fluid px-4 py-4">

    <h1 class="text-center" style="font-size:4vw;">Mapa interactivo</h1>
    <br>
    <div class="row">
        <div class="col-md-2" style="height: fit-content;">
            <div class="border jumbotron px-1 py-4">
                <form  method="POST">
                    <p class="font-weight-bold">Atractivos</p>
                    {% for item in tipos %}
                            {% set valor = item.nombre.replace(" ", "-") %}
                            <input class="checkboxito" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                    {% endfor %}
                    <hr>
                    <p class="font-weight-bold">Servicios</p>
                    {% for item in servicios %}
                        {% set valor = item.nombre.replace(" ", "-") %}
                        <input class="checkboxito" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                    {% endfor %}
                    <hr>
                    <p class="font-weight-bold">Regiones</p>
                    {% for item in regiones %}
                        {% set valor = item.nombre.replace(" ", "-") %}
                        <input class="checkboxito" type="checkbox" value = {{ valor }} name="checkboxAtractivos"> {{ item.nombre }} <br>
                    {% endfor %}
                </form>
            </div>
            
        </div>

        <div class="col-md-10">
                
        <!-- LISTA COMPLETA -->

        <div class="container-fluid px-2">

            <div id="map2" style="height:700px; width:100%;" class="align-content-center"></div>
            
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block masScripts %}

<script> 

var data = {{ data|safe }};

var markers = []

function iniciarMap(){
    var centro = {lat:8.5483277, lng: -83.6442931};
    var map = new google.maps.Map(document.getElementById('map2'),{
      zoom: 9,
      center: centro
    });

    var marker, i;

    for (i=0; i<data.length; i++){
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(data[i][1], data[i][2]),
        map: map,
        title: data[i][0]
        })
        marker.setLabel(data[i][0]);
        switch (data[i][3]){
            case 'Emprendimientos':
                color = "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                break;

            case 'Atractivos':
                color = "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                break;
        }
        marker.setIcon(color);
        markers.push(marker);
        
        (function(x){
            marker.addListener("click", (event) => {
                window.location.href = "/" + data[x][0];
            });
        })(i)
    }  

}

function cambiarVisibilidad(nombre, visibilidad){
    console.log(nombre)
    for (let i=0; i<markers.length; i++){
        console.log(markers[i].title.replace(/ /g,"-"),"==",nombre)
        if(markers[i].title.replace(/ /g,"-") == nombre){
            
            markers[i].setVisible(visibilidad)
            
        }
    }
}


var checkboxSeleccionados = [];
var servicios = [];
var region, index;

checkboxes = document.getElementsByClassName("checkboxito");

for (let i=0; i<checkboxes.length; i++){
    checkboxes[i].addEventListener("click", (event) => {
        if(checkboxes[i].name == "checkboxAtractivos"){
            if (checkboxSeleccionados.includes(checkboxes[i].value) == false) {
                checkboxSeleccionados.push(checkboxes[i].value);
            }
            else{
                index = checkboxSeleccionados.indexOf(checkboxes[i].value);
                if (index > -1) {
                    checkboxSeleccionados.splice(index, 1);
                }
            }
        }

        var emprendimientosYAtractivos = {{ emprendimientosYAtractivos | safe }};
        var atractivosYTipos = {{ atractivosYTipos | safe }}

        for (let j=0; j<emprendimientosYAtractivos.length; j++){
            cambiarVisibilidad(emprendimientosYAtractivos[j][0].replace(" ","-"), false);
            for (let i=0; i< checkboxSeleccionados.length; i++){
                if(emprendimientosYAtractivos[j][1].includes(checkboxSeleccionados[i])){
                    cambiarVisibilidad(emprendimientosYAtractivos[j][0].replace(" ","-"), true);
                }
            }
        }

        for (let k=0; k<atractivosYTipos.length; k++){
            cambiarVisibilidad(atractivosYTipos[k][0].replace(" ","-"), false);
            for (let i=0; i< checkboxSeleccionados.length; i++){
                if(atractivosYTipos[k][1].includes(checkboxSeleccionados[i])){
                    console.log(atractivosYTipos[k][1]);
                    cambiarVisibilidad(atractivosYTipos[k][0].replace(" ","-"), true);
                }
            }
        }


        if (checkboxSeleccionados.length==0){
            for (let j=0; j<emprendimientosYAtractivos.length; j++){
                cambiarVisibilidad(emprendimientosYAtractivos[j][0].replace(" ","-"), true);
            }
            for (let j=0; j<atractivosYTipos.length; j++){
                cambiarVisibilidad(atractivosYTipos[j][0].replace(" ","-"), true);
            }
        }
        
    })

}

</script>

 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script> -->
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzRacH2Q-qclQuZaka0SewmsUsHf1Cnrs&callback=iniciarMap">
</script>
      

{% endblock %}