{% extends "base.html" %}

{% block title %}
Regiones | Turismo en Osa
{% endblock %}

{% block content %}

<div class="container-fluid px-5">

<!-- LISTA COMPLETA -->

<h1 class="px-5 py-5 text-center" style="font-size:4vw;">Regiones de la Península de Osa</h1>

<div class="container-fluid px-5">

    <hr>

    {% for item in lista %}
    
    {% if loop.index % 2 == 0 %}
        {% set uno = "order-2"%}
        {% set dos = "order-1"%}
    {% endif %}
    {% if loop.index %2 != 0 %}
        {% set uno = "order-1"%}
        {% set dos = "order-2"%}
    {% endif %}

    <div class="row">
        <div class="col-md-6 align-self-center py-5 {{uno}}">
            <img src= "{{item.imagen}}" alt="Imagen de la region" style="width:90%">
        </div>
        <div class="col-md-6 align-self-center {{dos}}">
            <a href="/{{item.nombre}}"> <h3>{{ item.nombre }}</h3> </a>
            <p class="text-justify">{{ item.descripcion }}</p>
            {% if item.emprendimientos %}
                <p class="font-weight-bold">Los emprendimientos que se encuentran en esta región son:</p>
                <div class="row">
                    {% for item in item.emprendimientos %}
                        {% if loop.index < 5 %}
                            <div class="col-md-4 justify-content-center text-center">
                                <a href="/{{item.nombre}}"> <p> {{ item.nombre }} </p> </a>    
                            </div>
                        {% endif %}
                    {% endfor %}    
                </div>
            
                <p class="font-weight-bold">Algunos de los atractivos que se encuentran en esta región son:</p>
                <div class="row">
                    {% for atractivo in item.atractivos %}
                            {% if loop.index < 9 %}
                                <div class="col-md-4 justify-content-center text-center">
                                    <a href="/{{atractivo.nombre}}"> <p> {{ atractivo.nombre }} </p> </a>
                                </div>
                            {% endif %}
                    {% endfor %}
                </div>
                
                <!-- <p class="font-weight-bold">Los servicios que se ofrecen en esta región son:</p> -->
                <!-- {% for item in item.emprendimientos %}
                    {% for item in item.servicios %}
                        <a href="/{{item.nombre}}"> <p> - {{ item.nombre }} </p> </a>
                    {% endfor %}
                {% endfor %} -->

                <!-- {% for atractivo in atractivos %}
                    {% set aparece = namespace(aparece=0) %}
                    {% for item in item.emprendimientos %}
                        {% if atractivo.nombre in item.atractivos %}
                            <p>si</p> 
                            {% set aparece.aparece = aparece.aparece + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if aparece.aparece > 0 %}
                        <a href="/{{item.nombre}}"> <p> - {{ atractivo.nombre }} </p> </a>
                    {% endif %}
                {% endfor %} -->

            {% endif %}
        </div>
    </div>

    <hr>
    
    {% endfor %}  
    
    </div>

</div>


{% endblock %}